.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
}

.image-hover:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.image-hover {
  transition: transform 0.2s;
  cursor: pointer;
}
