/* .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
} */

/* .image-hover {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  cursor: pointer;
}

.image-hover:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
} */

/* .btn-journey {
  background-color: #4c6bdc;
}

.btn-journey:hover {
  background-color: #2f51cb;
}

.heading-text-color {
  color: #4c6bdc;
} */

.bg-fao {
  background-color: #e6eef9;
  background-position: right 40% bottom 45%;
}

.hiding-scroll {
  overflow-x: hidden;
}
