/* .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
} */

/* .image-hover {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  cursor: pointer;
}

.image-hover:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
} */
