.shadowit {
  text-shadow: 0px 0.5px 1px gray;
}

@media (min-width: 1024px) {
  .header-bg1 {
    display: flex;
    position: absolute;
    filter: blur(64px);
    border-radius: 9999px;
    border-bottom-right-radius: 1rem;
    right: 0px;
    width: 60rem;
    height: 60rem;
    top: 8rem;
    background-color: #eaf0fa;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  .header-bg2 {
    display: flex;
    position: absolute;
    filter: blur(64px);
    border-radius: 9999px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 28%;
    height: 60rem;
    top: 110rem;
    left: 0;
    z-index: -10;
    background-color: #e7f0f7;
  }
}

@media (min-width: 1024px) {
  .header-bg3 {
    height: 24rem;
    top: 201rem;
    display: flex;
    position: absolute;
    filter: blur(64px);
    border-radius: 9999px;
    width: 100%;
    background-color: #eaf0fa;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  .about-bg1 {
    width: 45rem;
    height: 42rem;
    top: 8rem;
    display: flex;
    filter: blur(64px);
    position: absolute;
    border-radius: 9999px;
    border-bottom-right-radius: 1 rem;
    border-top-right-radius: 1rem;
    right: 0px;
    background-color: #eaf0fa;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  .about-bg2 {
    width: 100%;
    top: 60rem;
    display: flex;
    filter: blur(64px);
    position: absolute;
    border-radius: 9999px;
    height: 40rem;
    background-color: #eaf0fa;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  .contact-bg {
    right: 0px;
    display: flex;
    position: absolute;
    width: 50%;
    height: 90%;
    top: 5rem;
    background-color: #eaf0fa;
    filter: blur(64px);
    z-index: -10;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
}
